<div *ngIf="receivedData.type == 'proj'">
  <p class="font-semibold italic">{{receivedData.detail.date}}</p>
  <div class="flex justify-center my-4">
    <img class="object-cover border rounded-xl md:w-96" [src]="receivedData.detail.img" alt="exp_img">
  </div>
  <!-- content -->
  <div class="flex justify-center">
    <!-- แยกเนื้อหา content ตามชื่อของมัน -->
    <div *ngIf="receivedData.detail.name == 'cert_network'"
      class=" md:w-5/6 font-normal text-justify text-black md:text-xl sm:text-base">
      <p>
        I successfully completed my studies and earned a certificate from the Google Coursera course titled <span
          class="font-bold">The Bits
          and Bytes of Computer Networking.</span> Throughout the course, I gained valuable knowledge in fundamental
        aspects of
        networking, including system management, DNS, IP addresses, network models, and troubleshooting network issues.
      </p>
      <hr class="my-7 border border-[#323846]">
      <div class="grid grid-cols-1">
        <div class="flex justify-center mt-7 mb-2">
          <button (mouseover)="onHover = 1" (mouseleave)="onHover = 0"
            (click)="open('https://drive.google.com/file/d/1cBsVDevQZs7dV8nba5OLUG6lhEM0fqer/view?usp=drive_link')">
            <mat-icon [ngClass]="{'animate-scale-up':onHover == 1}" [svgIcon]="'general_icons:pdf'"
              style="min-width: 59px; min-height: 59px;"></mat-icon>
          </button>
        </div>
        <p class="text-center text-base text-blue-500 ">
          <button (mouseover)="onHover = 1" (mouseleave)="onHover = 0"
            (click)="open('https://drive.google.com/file/d/1cBsVDevQZs7dV8nba5OLUG6lhEM0fqer/view?usp=drive_link')">
            <span [ngClass]="{'underline font-bold':onHover == 1}">View Certificate</span>
          </button>
        </p>
      </div>
    </div>

    <div *ngIf="receivedData.detail.name == 'modride'"
      class=" md:w-5/6 font-normal text-justify text-black md:text-xl sm:text-base">
      <p>
        Modride: Ride Sharing in KMUTT is a ride-sharing web application for KMUTT users to find travel companions
        to similar destinations. It allows users to share trips, split costs, reduce traffic, and foster connections
        between different faculties. This web application was developed using the Angular front-end framework and the
        Spring
        Boot back-end framework.
      </p>
      <hr class="my-7 border border-[#323846]">
      <p class="font-bold md:text-left sm:text-center text-black">
        Core Features
      </p>
      <!-- core-auth -->
      <div class="mt-4 mb-12">
        <div class="flex flex-row mt-4 space-x-3 items-center">
          <div class="flex items-center">
            <mat-icon [svgIcon]="'general_icons:auth'" style="min-width: 50px; min-height: 50px;"></mat-icon>
          </div>
          <div class="">
            <span class="text-[#F04E23] font-bold">Authentication</span>: Authenticated by Microsoft Identity
            Platform
            with KMUTT’s email domain only.
          </div>
        </div>
        <div class="flex justify-center mt-7">
          <img class="object-cover border rounded-xl md:w-96" src="./assets/proj/1.modride/2.png" alt="auth_pic">
        </div>
      </div>
      <!-- core-regis -->
      <div class="mb-12">
        <div class="flex flex-row mt-4 space-x-3 items-center">
          <div class="flex items-center">
            <mat-icon [svgIcon]="'general_icons:regis'" style="min-width: 50px; min-height: 50px;"></mat-icon>
          </div>
          <div class="">
            <span class="text-[#F04E23] font-bold">Driver Register</span>: Users are able to register in order to
            become drivers by uploading the required information.
          </div>
        </div>
        <div class="flex justify-center mt-7">
          <img class="object-cover border rounded-xl md:w-96" src="./assets/proj/1.modride/3.png" alt="regis_pic">
        </div>
      </div>
      <!-- trip -->
      <div class="mb-12">
        <div class="flex flex-row mt-4 space-x-3 items-center">
          <div class="flex items-center">
            <mat-icon [svgIcon]="'general_icons:trip'" style="min-width: 50px; min-height: 50px;"></mat-icon>
          </div>
          <div class="">
            <span class="text-[#F04E23] font-bold">Trip Event</span>: Users are able to view, create, edit, or
            delete their own event and make a request to join a trip event.
          </div>
        </div>
        <div class="flex justify-center mt-7">
          <img class="object-cover border rounded-xl md:w-80 md:h-80" src="./assets/proj/1.modride/4.png"
            alt="trip_pic">
        </div>
      </div>
      <!-- chat -->
      <div class="mb-12">
        <div class="flex flex-row mt-4 space-x-3 items-center">
          <div class="flex items-center">
            <mat-icon [svgIcon]="'general_icons:core-chat'" style="min-width: 50px; min-height: 50px;"></mat-icon>
          </div>
          <div class="">
            <span class="text-[#F04E23] font-bold">Group Chat</span>: Users are able to communicate via group chat
            after a trip event owner has already accepted a request.
          </div>
        </div>
        <div class="flex justify-center mt-7">
          <img class="object-cover border rounded-xl md:w-80 md:h-80" src="./assets/proj/1.modride/5.png"
            alt="chat_pic">
        </div>
      </div>

      <!-- tech-stack div -->
      <hr class="my-7 border border-[#323846]">
      <div>
        <p class="font-bold md:text-left sm:text-center text-black">
          Technology Stack
        </p>
        <!-- angular -->
        <div class="flex mt-7 flex-row space-x-3 items-center">
          <div class="flex items-center">
            <mat-icon [svgIcon]="'general_icons:tech-angular'" style="min-width: 50px; min-height: 50px;"></mat-icon>
          </div>
          <div class="">
            <span class="text-[#F04E23] font-bold">Angular</span>: front-end framework used for managing front-end
            display, featuring functionalities that meet the system requirements.
          </div>
        </div>
        <!-- spring -->
        <div class="flex mt-7 flex-row space-x-3 items-center">
          <div class="flex items-center">
            <mat-icon [svgIcon]="'general_icons:tech-spring'" style="min-width: 50px; min-height: 50px;"></mat-icon>
          </div>
          <div class="">
            <span class="text-[#F04E23] font-bold">Spring Boot</span>: A framework that supports Java and RESTful
            API development for Web Applications and Web Services.
          </div>
        </div>
        <!-- sql -->
        <div class="flex mt-7 flex-row space-x-3 items-center">
          <div class="flex items-center">
            <mat-icon [svgIcon]="'general_icons:tech-sql'" style="min-width: 50px; min-height: 50px;"></mat-icon>
          </div>
          <div class="">
            <span class="text-[#F04E23] font-bold">MySQL</span>: Database Management Software (DBMS) that can be
            operated via Shell as a Command line and through a Client App on the OS.
          </div>
        </div>
        <!-- figma/jam -->
        <div class="flex mt-7 flex-row space-x-3 items-center">
          <div class="flex items-center">
            <mat-icon [svgIcon]="'general_icons:tech-figma'" style="min-width: 50px; min-height: 50px;"></mat-icon>
          </div>
          <div class="">
            <span class="text-[#F04E23] font-bold">Figma/FigJam</span>: Software for designing and organizing
            wireframes according to business requirements.
          </div>
        </div>
        <!-- docker -->
        <div class="flex mt-7 flex-row space-x-3 items-center">
          <div class="flex items-center">
            <mat-icon [svgIcon]="'general_icons:tech-docker'" style="min-width: 50px; min-height: 50px;"></mat-icon>
          </div>
          <div class="">
            <span class="text-[#F04E23] font-bold">Docker</span>: A software platform used to create, test, and
            manage containers within the infrastructure system.
          </div>
        </div>
        <!-- nginx -->
        <div class="flex mt-7 flex-row space-x-3 items-center">
          <div class="flex items-center">
            <mat-icon [svgIcon]="'general_icons:tech-nginx'" style="min-width: 50px; min-height: 50px;"></mat-icon>
          </div>
          <div class="">
            <span class="text-[#F04E23] font-bold">Nginx</span>: A Web Server for the system to display websites and
            manage Reverse Proxy to enhance the efficiency of communication between containers.
          </div>
        </div>
        <!-- postman -->
        <div class="flex mt-7 flex-row space-x-3 items-center">
          <div class="flex items-center">
            <mat-icon [svgIcon]="'general_icons:tech-postman'" style="min-width: 50px; min-height: 50px;"></mat-icon>
          </div>
          <div class="">
            <span class="text-[#F04E23] font-bold">Postman</span>: A tool used for testing API services developed by
            the Back End to ensure they meet the system's requirements.
          </div>
        </div>
        <!-- jira -->
        <div class="flex mt-7 flex-row space-x-3 items-center">
          <div class="flex items-center">
            <mat-icon [svgIcon]="'general_icons:tech-jira'" style="min-width: 50px; min-height: 50px;"></mat-icon>
          </div>
          <div class="">
            <span class="text-[#F04E23] font-bold">Jira</span>: Tools used for Project Management, such as defining
            requirements and tracking the status of tasks.
          </div>
        </div>
        <!-- github -->
        <div class="flex mt-7 flex-row space-x-3 items-center">
          <div class="flex items-center">
            <mat-icon [svgIcon]="'general_icons:tech-git'" style="min-width: 50px; min-height: 50px;"></mat-icon>
          </div>
          <div class="">
            <span class="text-[#F04E23] font-bold">GitHub</span>: A website providing Git Version Control for
            managing code versions, facilitating development from multiple developers, and storing the system's
            source code.
          </div>
        </div>
      </div>
      <hr class="my-7 border border-[#323846]">
      <div class="grid grid-cols-2">
        <div>
          <div class="flex justify-center items-center ">
            <mat-icon (mouseover)="onHover = 1" (mouseleave)="onHover = 0" [ngClass]="{'animate-scale-up':onHover == 1}"
              (click)="open('https://youtu.be/CABxUrGL_MM?si=j8g4Ml3ALZkPaDtv')"
              class="cursor-pointer md:w-14 md:h-14 sm:w-12 sm:h-12" [svgIcon]="'general_icons:youtube'"
              style="width: 50px; height: 50px;"></mat-icon>
          </div>
          <div class="text-center mt-2">
            <span (mouseover)="onHover = 1" (mouseleave)="onHover = 0" class="cursor-pointer text-blue-500"
              [ngClass]="{'underline font-bold':onHover == 1}"
              (click)="open('https://youtu.be/CABxUrGL_MM?si=j8g4Ml3ALZkPaDtv')">About
              ModRide</span>
          </div>
        </div>
        <div>
          <div class="flex justify-center items-center ">
            <mat-icon (mouseover)="onHover = 2" (mouseleave)="onHover = 0"
              (click)="open('https://github.com/INT371-MOD-RIDE/MOD-RIDE.github')" class="cursor-pointer"
              [ngClass]="{'animate-scale-up':onHover == 2}" [svgIcon]="'general_icons:github'"
              style="min-width: 50px; min-height: 50px;"></mat-icon>
          </div>
          <div class="text-center mt-2">
            <span (mouseover)="onHover = 2" (mouseleave)="onHover = 0"
              (click)="open('https://github.com/INT371-MOD-RIDE/MOD-RIDE.github')" class="cursor-pointer text-blue-500"
              [ngClass]="{'underline font-bold':onHover == 2}">ModRide
              GitHub</span>
          </div>
        </div>
      </div>
    </div>

    <div *ngIf="receivedData.detail.name == 'cert_support'"
      class=" md:w-5/6 font-normal text-justify text-black md:text-xl sm:text-base">
      <p>
        I successfully completed my studies and received a certificate from the Google Coursera course titled <span
          class="font-bold">Technical
          Support Fundamentals.</span> During the course, I learned fundamental aspects of technical support such as
        assisting
        customers with hardware components or software systems, understanding binary code, Linux operating systems, and
        troubleshooting techniques for technical support roles.
      </p>
      <hr class="my-7 border border-[#323846]">
      <div class="grid grid-cols-1">
        <div class="flex justify-center mt-7 mb-2">
          <button (mouseover)="onHover = 1" (mouseleave)="onHover = 0"
            (click)="open('https://drive.google.com/file/d/1AFmpBDQBoJ7Cy-xWhO5iX-Mh07foM3on/view?usp=drive_link')">
            <mat-icon [ngClass]="{'animate-scale-up':onHover == 1}" [svgIcon]="'general_icons:pdf'"
              style="min-width: 59px; min-height: 59px;"></mat-icon>
          </button>
        </div>
        <p class="text-center text-base text-blue-500 ">
          <button (mouseover)="onHover = 1" (mouseleave)="onHover = 0"
            (click)="open('https://drive.google.com/file/d/1AFmpBDQBoJ7Cy-xWhO5iX-Mh07foM3on/view?usp=drive_link')">
            <span [ngClass]="{'underline font-bold':onHover == 1}">View Certificate</span>
          </button>
        </p>
      </div>
    </div>

    <div *ngIf="receivedData.detail.name == 'oasip'"
      class=" md:w-5/6 font-normal text-justify text-black md:text-xl sm:text-base">
      <p>
        OASIP is an online appointment website where students can schedule or modify online meeting appointments with
        their course lecturers. This web application was developed using the Vue front-end framework and the Spring
        Boot back-end framework.
      </p>
      <hr class="my-7 border border-[#323846]">
      <p class="font-bold md:text-left sm:text-center text-black">
        Core Features
      </p>
      <!-- Get All Event -->
      <div class="mt-4 mb-12">
        <div class="flex flex-row mt-4 space-x-3 items-center">
          <div class="flex items-center">
            <mat-icon [svgIcon]="'general_icons:proj-getAll'" style="min-width: 50px; min-height: 50px;"></mat-icon>
          </div>
          <div class="">
            <span class="text-blue-600 font-bold">Get All Event</span>: Displaying the list of events where students
            have scheduled meetings with lecturers for specific online classes.
          </div>
        </div>
        <div class="flex justify-center mt-7">
          <img class="object-cover border rounded-xl md:w-96" src="./assets/proj/2.oasip/1.png" alt="allEvent">
        </div>
      </div>
      <!-- Booking Event -->
      <div class="mb-12">
        <div class="flex flex-row mt-4 space-x-3 items-center">
          <div class="flex items-center">
            <mat-icon [svgIcon]="'general_icons:proj-booking'" style="min-width: 50px; min-height: 50px;"></mat-icon>
          </div>
          <div class="">
            <span class="text-blue-600 font-bold">Booking Event</span>: Creating events for scheduling meetings with
            lecturers for specific classes.
          </div>
        </div>
        <div class="flex justify-center mt-7">
          <img class="object-cover border rounded-xl md:w-96" src="./assets/proj/2.oasip/2.png" alt="booking">
        </div>
      </div>
      <!-- detail -->
      <div class="mb-12">
        <div class="flex flex-row mt-4 space-x-3 items-center">
          <div class="flex items-center">
            <mat-icon [svgIcon]="'general_icons:proj-detail'" style="min-width: 50px; min-height: 50px;"></mat-icon>
          </div>
          <div class="">
            <span class="text-blue-600 font-bold">Event Detail</span>: Checking the detailed information of the
            scheduled meeting events.
          </div>
        </div>
        <div class="flex justify-center mt-7">
          <img class="object-cover border rounded-xl md:w-96" src="./assets/proj/2.oasip/3.png" alt="detail">
        </div>
      </div>
      <!-- edit -->
      <div class="mb-12">
        <div class="flex flex-row mt-4 space-x-3 items-center">
          <div class="flex items-center">
            <mat-icon [svgIcon]="'general_icons:proj-edit'" style="min-width: 50px; min-height: 50px;"></mat-icon>
          </div>
          <div class="">
            <span class="text-blue-600 font-bold">Edit Event</span>: Editing the detailed information of the scheduled
            meeting events.
          </div>
        </div>
        <div class="grid md:grid-cols-2 sm:grid-cols-1">
          <div class="flex justify-center mt-7">
            <img class="object-cover border rounded-xl md:w-80 md:h-80" src="./assets/proj/2.oasip/4.png" alt="edit">
          </div>
          <div class="flex justify-center mt-7">
            <img class="object-cover border rounded-xl md:w-80 md:h-80" src="./assets/proj/2.oasip/5.png" alt="edit#2">
          </div>
        </div>
      </div>
      <!-- cancel -->
      <div class="mb-12">
        <div class="flex flex-row mt-4 space-x-3 items-center">
          <div class="flex items-center">
            <mat-icon [svgIcon]="'general_icons:proj-cancel'" style="min-width: 50px; min-height: 50px;"></mat-icon>
          </div>
          <div class="">
            <span class="text-blue-600 font-bold">Cancel Event</span>: Canceling scheduled meeting events.
          </div>
        </div>
        <div class="flex justify-center mt-7">
          <img class="object-cover border rounded-xl md:w-96" src="./assets/proj/2.oasip/6.png" alt="cancel">
        </div>
      </div>

      <hr class="my-7 border border-[#323846]">
      <div class="grid grid-cols-1">
        <div>
          <div class="flex justify-center items-center ">
            <mat-icon (mouseover)="onHover = 1" (mouseleave)="onHover = 0" [ngClass]="{'animate-scale-up':onHover == 1}"
              (click)="open('https://github.com/OASIP-PL-5')" class="cursor-pointer" [svgIcon]="'general_icons:github'"
              style="min-width: 50px; min-height: 50px;"></mat-icon>
          </div>
          <div class="text-center mt-2">
            <span (mouseover)="onHover = 1" (mouseleave)="onHover = 0" [ngClass]="{'font-bold underline':onHover == 1}"
              (click)="open('https://github.com/OASIP-PL-5')" class="cursor-pointer text-blue-500">
              OASIP GitHub</span>
          </div>
        </div>
      </div>
    </div>

    <div *ngIf="receivedData.detail.name == 'funbook'"
      class=" md:w-5/6 font-normal text-justify text-black md:text-xl sm:text-base">
      <p>
        FUNBOOK online book store is a website that offers a wide range of books for sale online, including educational
        books and books on astrology. This web application was developed using the Vue framework.
      </p>
      <div class="mt-8 text-justify">
        <span class="font-bold">Description:</span><br>
        <ul class="list-disc ml-10">
          <li>All books on the website are categorized to facilitate easy searching.</li>
          <li>Book listings are displayed in card format and include details about each book, such as the title, author,
            etc.</li>
          <li>Features allow users to add desired books to a wishlist, enabling them to purchase the books at a later
            date.</li>
        </ul>
      </div>
      <hr class="my-7 border border-[#323846]">
      <p class="font-bold md:text-left sm:text-center text-black">
        Core Features
      </p>
      <!-- Search for Books -->
      <div class="mt-4 mb-12">
        <div class="flex flex-row mt-4 space-x-3 items-center">
          <div class="flex items-center">
            <mat-icon [svgIcon]="'general_icons:searchBook'" style="min-width: 50px; min-height: 50px;"></mat-icon>
          </div>
          <div class="">
            <span class="text-blue-600 font-bold">Search for Books</span>: Users can search for books by category using
            the search bar, specifying categories such as IT, AI, MySQL, coding, etc.
          </div>
        </div>
        <div class="flex justify-center mt-7">
          <img class="object-cover border rounded-xl md:w-96" src="./assets/proj/3.funbook/1.png" alt="searchBook">
        </div>
      </div>
      <!-- Wishlist -->
      <div class="mb-12">
        <div class="flex flex-row mt-4 space-x-3 items-center">
          <div class="flex items-center">
            <mat-icon [svgIcon]="'general_icons:wishlist'" style="min-width: 50px; min-height: 50px;"></mat-icon>
          </div>
          <div class="">
            <span class="text-blue-600 font-bold">Wishlist</span>: Users can add their favorite books to their wishlist
            by clicking the heart icon on the respective book. The book will then be saved to the wishlist page, which
            includes details of each saved book.
          </div>
        </div>
        <div class="grid md:grid-cols-2 sm:grid-cols-1">
          <div class="flex justify-center mt-7">
            <img class="object-cover border rounded-xl md:w-80 md:h-80" src="./assets/proj/3.funbook/2.png"
              alt="wish#1">
          </div>
          <div class="flex justify-center mt-7">
            <img class="object-cover border rounded-xl md:w-full md:h-80" src="./assets/proj/3.funbook/3.png"
              alt="wish#2">
          </div>
        </div>
      </div>
      <!-- Remove from Wishlist -->
      <div class="mb-12">
        <div class="flex flex-row mt-4 space-x-3 items-center">
          <div class="flex items-center">
            <mat-icon [svgIcon]="'general_icons:remove'" style="min-width: 50px; min-height: 50px;"></mat-icon>
          </div>
          <div class="">
            <span class="text-blue-600 font-bold">Remove from Wishlist</span>: On the wishlist page, if users no longer
            want a book, they can remove it from the wishlist by clicking the Remove button.
          </div>
        </div>
        <div class="flex justify-center mt-7">
          <img class="object-cover border rounded-xl md:w-96" src="./assets/proj/3.funbook/4.png" alt="remove">
        </div>
      </div>
      <hr class="my-7 border border-[#323846]">
      <div class="grid grid-cols-1">
        <div>
          <div class="flex justify-center items-center ">
            <mat-icon (mouseover)="onHover = 1" (mouseleave)="onHover = 0" [ngClass]="{'animate-scale-up':onHover == 1}"
              (click)="open('https://github.com/willvaritchai/project-FUNBOOK-online-book-store')"
              class="cursor-pointer" [svgIcon]="'general_icons:github'"
              style="min-width: 50px; min-height: 50px;"></mat-icon>
          </div>
          <div class="text-center mt-2">
            <span (mouseover)="onHover = 1" (mouseleave)="onHover = 0" [ngClass]="{'underline font-bold':onHover == 1}"
              (click)="open('https://github.com/willvaritchai/project-FUNBOOK-online-book-store')"
              class="cursor-pointer text-blue-500 hover:underline">
              FUNBOOK GitHub</span>
          </div>
        </div>
      </div>
    </div>

    <div *ngIf="receivedData.detail.name == 'wyg'"
      class=" md:w-5/6 font-normal text-justify text-black md:text-xl sm:text-base">
      <p>
        WishYourGrade helps students assess and plan their academic performance, addressing their expectations about
        grades. This web application was developed using the Vue framework.
      </p>
      <div class="mt-8 text-justify">
        <span class="font-bold">Description:</span><br>
        <ul class="list-disc ml-10">
          <li>Upon entering, users will see a form where they can input information.</li>
          <li>Users can enter the names of subjects, grade levels, and course credits.</li>
          <li>Below the input section, there is information about GPA, explaining its meaning and the calculation
            method.</li>
          <li>Different GPA levels are displayed uniquely; for instance, if the GPA is above 3.50, the background color
            will be green.</li>
          <li>GPA calculation is in real-time, meaning users can adjust the grade levels or credits, and the GPA result
            will update accordingly.</li>
        </ul>
      </div>
      <div class="flex justify-center mt-7">
        <img class="object-cover border rounded-xl md:w-96" src="./assets/proj/4.wish_grade/1.png" alt="wyg#1">
      </div>
      <hr class="my-7 border border-[#323846]">
      <p class="font-bold md:text-left sm:text-center text-black">
        Core Features
      </p>
      <!-- Add Rows -->
      <div class="mt-4 mb-12">
        <div class="flex flex-row mt-4 space-x-3 items-center">
          <div class="flex items-center">
            <mat-icon [svgIcon]="'general_icons:wyg-add'" style="min-width: 50px; min-height: 50px;"></mat-icon>
          </div>
          <div class="">
            <span class="text-blue-600 font-bold">Add Rows</span>: Users can add more rows to accommodate the number of
            subjects they wish to enter by clicking the blue button with a plus icon.
          </div>
        </div>
        <div class="flex justify-center mt-7">
          <img class="object-cover border rounded-xl md:w-96" src="./assets/proj/4.wish_grade/2.png" alt="wyg#2">
        </div>
      </div>
      <!-- reset -->
      <div class="mb-12">
        <div class="flex flex-row mt-4 space-x-3 items-center">
          <div class="flex items-center">
            <mat-icon [svgIcon]="'general_icons:wyg-reset'" style="min-width: 50px; min-height: 50px;"></mat-icon>
          </div>
          <div class="">
            <span class="text-blue-600 font-bold">Reset</span>: Users can reset all the entered information by clicking
            the gray button with a cross icon.
          </div>
        </div>
        <div class="flex justify-center mt-7">
          <img class="object-cover border rounded-xl md:w-96" src="./assets/proj/4.wish_grade/3.png" alt="wyg#3">
        </div>
      </div>
      <hr class="my-7 border border-[#323846]">
      <div class="grid grid-cols-1">
        <div>
          <div class="flex justify-center items-center ">
            <mat-icon (mouseover)="onHover = 1" (mouseleave)="onHover = 0" [ngClass]="{'animate-scale-up':onHover == 1}"
              (click)="open('https://github.com/willvaritchai/WishYourGrade.git')" class="cursor-pointer"
              [svgIcon]="'general_icons:github'" style="min-width: 50px; min-height: 50px;"></mat-icon>
          </div>
          <div class="text-center mt-2">
            <span (mouseover)="onHover = 1" (mouseleave)="onHover = 0" [ngClass]="{'font-bold underline':onHover == 1}"
              (click)="open('https://github.com/willvaritchai/WishYourGrade.git')"
              class="cursor-pointer text-blue-500 hover:underline">
              WishYourGrade GitHub</span>
          </div>
        </div>
      </div>
    </div>

    <div *ngIf="receivedData.detail.name == 'obon'"
      class=" md:w-5/6 font-normal text-justify text-black md:text-xl sm:text-base">
      <p>
        The Obon Festival project is a website that provides information about the Obon Festival, a Buddhist festival in
        Japan. This web application was developed using the React framework.
      </p>
      <hr class="my-7 border border-[#323846]">
      <div class="grid grid-cols-1">
        <div>
          <div class="flex justify-center items-center ">
            <mat-icon (mouseover)="onHover = 1" (mouseleave)="onHover = 0" [ngClass]="{'animate-scale-up':onHover == 1}"
              (click)="open('https://github.com/Hello-Dolphin/hellodolphin-webproject-3-ObonFestival')"
              class="cursor-pointer" [svgIcon]="'general_icons:github'"
              style="min-width: 50px; min-height: 50px;"></mat-icon>
          </div>
          <div class="text-center mt-2">
            <span (mouseover)="onHover = 1" (mouseleave)="onHover = 0" [ngClass]="{'font-bold underline':onHover == 1}"
              (click)="open('https://github.com/Hello-Dolphin/hellodolphin-webproject-3-ObonFestival')"
              class="cursor-pointer text-blue-500 hover:underline">
              OBON GitHub</span>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>