#test .mat-form-field.mat-form-field-appearance-fill .mat-form-field-wrapper .mat-form-field-flex  
  {
    background-color: red !important;
    
}

.mat-mdc-tooltip .mdc-tooltip__surface {
  background-color: #272727 !important;
  font-size: 12px !important;
  font-family: "Noto Sans Thai" !important;
}