<div class="mx-auto my-5 flex flex-col shadow-xl rounded-md min-h-screen" style="max-width:550px;">
  <div class="mx-4">
    <div class="flex flex-col items-center py-3">
      <!-- <div class="mx-auto shadow-xl rounded-md" style="max-width:400px;">
<div class="mx-4">
  <div class="flex flex-row justify-center py-3"> -->
      <div class="">
        <span class="text-2xl font-bold text-black">รายละเอียดการเดินทาง</span>
      </div>
    </div>
    <div class="mx-2">
      <!-- <p>สมาชิกการเดินทาง</p> -->
      <p class="text-xs font-bold mb-3">สมาชิกการเดินทาง</p>
      <member [members]="members" [userId]="userId"></member>
    </div>
    <div class="mx-2">
      <detail [detail]="eventDetail" [members]="members" [type]="'edit'"></detail>
    </div>

    <!-- <div class="mb-32 mt-8 flex flex-auto ">
      <div class="flex flex-auto border border-[#F04E23] rounded-lg text-[#F04E23] mx-2 cursor-pointer">
          <span class="flex flex-auto items-center justify-center text-[#F04E23] my-5 font-semibold">ยกเลิก</span>
      </div>
      <div class="flex flex-auto items-center justify-center bg-[#F04E23] rounded-lg text-white mx-2 cursor-pointer">
          <span class="flex flex-auto items-center justify-center bg-[#F04E23] text-white my-5 font-semibold">บันทึก</span>
      </div>
    </div> -->
  </div>
</div>