<div class="flex items-center justify-center w-full h-full">
  <div class="px-4 lg:py-12">
    <div class="lg:gap-4 lg:flex">
      <div class="flex flex-col items-center justify-center mt-10">
        <h1 class="font-bold text-blue-600 text-9xl">404</h1>
        <p class="mb-2 text-2xl font-bold text-center text-gray-800 md:text-3xl">
          <span class="text-red-500">Oops!</span> Page not found
        </p>
        <p class="mb-8 text-center text-gray-500 md:text-lg">
          The page you’re looking for doesn’t exist.
        </p>
        <button (click)="goHome('/home')"
          class="px-6 py-2 text-sm font-semibold text-white bg-red-500 hover:bg-red-600 rounded-lg">Go
          home</button>
      </div>
      <div class="mt-4">
        <img src="https://c.tenor.com/VFFJ8Ei3C2IAAAAM/rickroll-rick.gif" alt="img"
          class="object-cover w-full h-full rounded-lg" />
      </div>
    </div>
  </div>
</div>
<!-- <div class="mx-auto my-5 min-h-screen flex flex-col shadow-xl rounded-md"
  style="max-width: 550px; padding-bottom: 130px">
  <div class="mx-4">
    <button class="hover:drop-shadow active:drop-shadow" (click)="goback()">
      <div class="flex flex-row">
        <mat-icon [svgIcon]="'general_icons:arrow-left-black'" style="min-width: 24px; min-height: 24px;"></mat-icon>
        <div>
          <span class="text-xs">ย้อนกลับ</span>
        </div>
      </div>
    </button>

    <div class="text-center">
      <span class="text-2xl font-bold text-[#272727]">เกี่ยวกับพวกเรา</span>
    </div>

    <div class="mt-4">
      <div class="border w-full mx-auto rounded-lg">
        <img src="https://www.sit.kmutt.ac.th/cvblob.php?uid=unhawa" alt="profile"
          class="object-cover rounded-full border mx-auto mt-6" style="width: 120px; height: 120px;" />
        <div class="flex-row text-center mt-2 mb-6">
          <p class="font-bold text-[#272727] text-xl mb-2">ดร. อันฮวา นิลรัตน์ศิริกุล</p>
          <p class="text-[#B5B5B5]">อาจารย์ที่ปรึกษากลุ่ม UN2</p>
        </div>
      </div>

      <div class="mt-6 border w-full mx-auto rounded-lg">
        <img [src]="joeWhite" alt="profile" class="object-cover rounded-full border mx-auto mt-6"
          style="width: 120px; height: 120px;" />
        <div class="flex-row text-center mt-2 mb-6">
          <p class="font-bold text-[#272727] text-xl mb-2">นายภัทรพล มรรคหิรัญ</p>
          <p class="text-[#B5B5B5] mb-2">63130500091</p>
          <a href="mailto:pattarapon.it@mail.kmutt.ac.th" class="text-[#3686FF]">pattarapon.it@mail.kmutt.ac.th</a>
        </div>
      </div>

      <div class="mt-6 border w-full mx-auto rounded-lg">
        <img [src]="william" alt="profile" class="object-cover rounded-full border mx-auto mt-6"
          style="width: 120px; height: 120px;" />
        <div class="flex-row text-center mt-2 mb-6">
          <p class="font-bold text-[#272727] text-xl mb-2">นายวริศชัย สุรชัยธนวัฒน์</p>
          <p class="text-[#B5B5B5] mb-2">63130500103</p>
          <a href="mailto:varitchai.will@mail.kmutt.ac.th" class="text-[#3686FF]">varitchai.will@mail.kmutt.ac.th</a>
        </div>
      </div>

      <div class="mt-6 border w-full mx-auto rounded-lg">
        <img [src]="god_phai" alt="profile" class="object-cover rounded-full border mx-auto mt-6"
          style="width: 120px; height: 120px;" />
        <div class="flex-row text-center mt-2 mb-6">
          <p class="font-bold text-[#272727] text-xl mb-2">นายอภิวรรธน์ อาทิตย์เที่ยง</p>
          <p class="text-[#B5B5B5] mb-2">63130500130</p>
          <a href="mailto:apiwat.atittieng@mail.kmutt.ac.th"
            class="text-[#3686FF]">apiwat.atittieng@mail.kmutt.ac.th</a>
        </div>
      </div>



    </div>



  </div>
</div> -->