<style scoped>
    /* .dynamic-txts{
    position: relative;
}
.dynamic-txts::after{
    content: "";
    height: 80%;
    width: 100%;
    border-left: 2px solid #151925;
    left: 0;
    position: absolute;
    background-color: #151925;
    animation: typing 3s steps(20) infinite; 
}

@keyframes typing{
    40%,
    60%{
        left: calc(100%)
    }
    100%{
        left: 0;
    }
} */
</style>
<div class="bg-[#151925]  flex justify-center px-24 pb-28 w-full">
    <div class="grid xl:grid-cols-2 xl:pt-40 xl:space-x-36 md:pt-32 lg:space-x-20 md:grid-cols-1 t:pt-28">
        <!-- left -->
        <div class="">
            <div class="lg:text-left md:text-center">
                <span class="font-extrabold text-white md:text-4xl t:text-3xl ">Varitchai
                    Surachaitanawat</span>
                <div class="font-extrabold text-3xl text-white t:text-2xl">
                    I’m a <span class="text-[#01EEFF] dynamic-txts">
                        <br *ngIf="screenType == 'm'">Full Stack Developer
                    </span>
                </div>
            </div>
            <div class="mt-7 text-2xl t:text-xl text-white text-justify" style="max-width: 517px;">
                As a <span class="font-bold">Full Stack Developer</span>, I'm passionate about coding and dedicated to
                continually enhancing my skills with steadfast commitment.
            </div>
            <!-- bigger than mobile -->
            <div *ngIf="screenType != 'm'" class="flex flex-row lg:justify-normal md:justify-center space-x-14 mt-7 mb-10">
                <a [matTooltipPosition]="'below'" matTooltip="GitHub" class="hover:animate-scale-up"
                    style="width: 46px;" [href]="'https://github.com/willvaritchai'">
                    <img src="./assets/home/git.png" alt="github">
                </a>
                <a [matTooltipPosition]="'below'" matTooltip="Facebook" class="hover:animate-scale-up"
                    style="width: 46px;" [href]="'https://www.facebook.com/pas.surachai'">
                    <img src="./assets/home/fb.png" alt="fb">
                </a>
                <!-- <button style="width: 46px;">
                    <img src="./assets/home/ig.png" alt="ig">
                </button> -->
                <a [matTooltipPosition]="'below'" matTooltip="LinkedIn" class="hover:animate-scale-up"
                style="width: 46px;" [href]="'https://www.linkedin.com/in/willvaritchai/'">
                <img src="./assets/home/in.png" alt="linkedin">
                </a>
                <a  (click)="copyTextToClipboard()" [matTooltipPosition]="'below'" matTooltip="Email: varitchai.will@gmail.com" class="hover:animate-scale-up" style="width: 46px;"
                [href]="'mailto:varitchai.will@gmail.com'">
                <img src="./assets/home/email.png" alt="email">
                </a>
                <a [matTooltipPosition]="'below'" matTooltip="Contact: (+66) 81-498-5488" class="hover:animate-scale-up"
                    style="width: 46px;" [href]="'tel:0814985488'">
                    <img src="./assets/home/phone.png" alt="phone">
                </a>
            </div>
            <!-- for mobile -->
            <div *ngIf="screenType == 'm'" class="flex flex-row justify-center space-x-5 mt-7 mb-10">
                <a [matTooltipPosition]="'below'" matTooltip="GitHub" class="hover:animate-scale-up" style="width: 46px;" [href]="'https://github.com/willvaritchai'">
                    <img src="./assets/home/git.png" alt="github">
                </a>
                <a [matTooltipPosition]="'below'" matTooltip="Facebook" class="hover:animate-scale-up" style="width: 46px;" [href]="'https://www.facebook.com/pas.surachai'">
                    <img src="./assets/home/fb.png" alt="fb">
                </a>
                <!-- <button style="width: 46px;">
                    <img src="./assets/home/ig.png" alt="ig">
                </button> -->
                <a [matTooltipPosition]="'below'" matTooltip="LinkedIn" class="hover:animate-scale-up" style="width: 46px;"
                    [href]="'https://www.linkedin.com/in/willvaritchai/'">
                    <img src="./assets/home/in.png" alt="linkedin">
                </a>
                <a [matTooltipPosition]="'below'" matTooltip="Email: varitchai.will@gmail.com" (click)="copyTextToClipboard()" class="hover:animate-scale-up" style="width: 46px;" [href]="'mailto:varitchai.will@gmail.com'">
                    <img src="./assets/home/email.png" alt="email">
                </a>
                <a [matTooltipPosition]="'below'" matTooltip="Contact: (+66) 81-498-5488" class="hover:animate-scale-up" style="width: 46px;" [href]="'tel:0814985488'">
                    <img src="./assets/home/phone.png" alt="phone">
                </a>
            </div>

            <div class="flex md:justify-center lg:justify-normal" >
                <button
                    (click)="open('https://drive.google.com/file/d/1EOT91cNAgHGqe7wYh7c7hsg2itjbaATq/view?usp=drive_link')"
                    class="bg-[#01EEFF] text-white font-semibold md:text-2xl t:text-xl md:py-4 md:px-6 t:py-2 t:px-3 
                md:rounded-3xl t:rounded-xl hover:shadow hover:shadow-white active:bg-[#00B6C3] t:inline-block "
                    style="text-shadow: -1px -1px 0 rgb(21, 146, 133), 1px -1px 0 rgb(21, 146, 133), -1px 1px 0 rgb(21, 146, 133), 1px 1px 0 rgb(21, 146, 133);">
                    Download Resume
                </button>
            </div>
        </div>
        <!-- right -->
        <div class="lg:-mt-8  t:mt-9 flex justify-center">
            <!-- not mobile -->
            <img class="hover:animate-scale-up object-cover" *ngIf="screenType != 'm'"
                style="max-width: 475px; max-height: 461px;" src="./assets/home/me_home.png" alt="me_home">
            <!-- screen: mobile -->
            <img class="hover:animate-scale-up object-cover" *ngIf="screenType == 'm'" class=""
                style="max-width: 250px; max-height: 250px;" src="./assets/home/me_home.png" alt="me_home">
        </div>
    </div>
</div>
