<style scoped>
    input[type='radio']:after {
        accent-color: red !important;
    }
</style>
<div class="" *ngIf="checkAuthorize">
    <div class="mx-10 pb-14" [ngClass]="{'pb-28': accountPage == '/account/detail'}">
        <div *ngIf="accountPage != '/account/detail'">
            <div class="flex justify-between">
                <div class="text-2xl mt-10 font-bold ">ระบบจัดการบัญชีผู้ใช้</div>
                <!-- Input & Filter -->
                <div class="flex items-center mt-6">
                    <!-- Input Field -->
                    <div class="w-[550px] rounded-lg border border-gray-300 bg-white flex items-center">
                        <span class="px-3 mt-1 text-gray-600">
                            <mat-icon matPrefix style="width: 16px; height: 16px;" [svgIcon]="'general_icons:search'"
                                class="text-[#B5B5B5]"></mat-icon>
                        </span>
                        <input type="text" [(ngModel)]="search" (keyup)="onKeyUp($event)"
                            class="flex-shrink flex-grow flex-auto border-0 h-9 border-grey-light rounded-lg font-roboto text-xl outline-none"
                            placeholder="ค้นหาผู้ใช้งาน" />
                    </div>
                    <!-- search -->
                    <div class="ml-3 mt-1">
                        <mat-icon (click)="searching()" class="cursor-pointer hover:drop-shadow" matPrefix
                            style="width: 51px; height: 51px;" [svgIcon]="'general_icons:search-button'"></mat-icon>
                    </div>
                </div>
            </div>


        </div>
        <!-- user-management -->
        <div class="mt-6 bg-white rounded-lg">
            <div class="mx-6">
                <div class="flex justify-between pt-6 pb-4">
                    <div>
                        <h1 class="font-bold text-xl">แสดงรายการบัญชีผู้ใช้งาน</h1>
                    </div>
                    <!-- filter approval status -->
                    <div class="flex flex-row space-x-4">
                        <div class="font-bold text-xl">
                            <mat-checkbox color="warn" (change)="checkBoxAppStatus('pending')"
                                [(ngModel)]="pending_status" value="0">กำลังรอการอนุมัติ
                                <span>({{countAppStat.count_pending}})</span></mat-checkbox>
                            <mat-checkbox color="warn" (change)="checkBoxAppStatus('approve')"
                                [(ngModel)]="approve_status" value="1">ผ่านการอนุมัติแล้ว
                                <span>({{countAppStat.count_approve}})</span></mat-checkbox>
                            <mat-checkbox color="warn" (change)="checkBoxAppStatus('denied')"
                                [(ngModel)]="denied_status" value="2">ไม่ผ่านการอนุมัติ
                                <span>({{countAppStat.count_denied}})</span></mat-checkbox>
                        </div>

                    </div>

                </div>
                <!-- user-list-table -->
                <table *ngIf="userList.length > 0" class="w-full" mat-table [dataSource]="userList">

                    <!-- Position Column -->
                    <ng-container matColumnDef="user_img">
                        <th class="" mat-header-cell *matHeaderCellDef> </th>
                        <td class="" mat-cell *matCellDef="let element">
                            <mat-icon *ngIf="!element.download_url" style="width: 80px; height: 80px;"
                                [svgIcon]="'general_icons:profile-img'"></mat-icon>
                            <img *ngIf="element.download_url" [src]="element.download_url" alt="user-profile"
                                class="object-cover rounded-full border" style="width: 80px; height: 80px;" />
                        </td>
                    </ng-container>

                    <!-- Position Column -->
                    <ng-container matColumnDef="user_acc">
                        <th class="" mat-header-cell *matHeaderCellDef> บัญชีผู้ใช้งาน </th>
                        <td class="" mat-cell *matCellDef="let element">
                            <div class="w-80">
                                <div class="text-xl font-bold">{{element.fullname}}</div>
                                <div matTooltipClass="mat-tooltip-style" [matTooltip]="element.email"
                                    class="text-base truncate">{{element.email}}</div>
                            </div>
                        </td>
                    </ng-container>

                    <!-- Name Column -->
                    <ng-container matColumnDef="fac_branch">
                        <th mat-header-cell *matHeaderCellDef> คณะ & สาขา </th>
                        <td mat-cell *matCellDef="let element">
                            <div class="w-60">
                                <div class="text-xl font-bold">{{element.faculty_name}}</div>
                                <div class="text-base">{{element.branch_name}}</div>
                            </div>
                        </td>
                    </ng-container>

                    <!-- Weight Column -->
                    <ng-container matColumnDef="contact">
                        <th mat-header-cell *matHeaderCellDef> ข้อมูลติดต่อ </th>
                        <td mat-cell *matCellDef="let element">
                            <div class="w-40">
                                <div class="text-xl font-bold">{{element.tel}}</div>
                                <div class="text-base">{{element.other_contact}}: {{element.contact_info}}</div>
                            </div>
                        </td>
                    </ng-container>

                    <!-- Symbol Column -->
                    <ng-container matColumnDef="role">
                        <th class="" mat-header-cell *matHeaderCellDef>
                            <div class="text-center">บทบาท</div>
                        </th>
                        <td class="" mat-cell *matCellDef="let element">
                            <div class="flex justify-center ">
                                <div [ngClass]="{'border-[#3686FF] text-[#3686FF]': element.role_name_th == 'ผู้โดยสาร',
                                        'border-[#F04E23] text-[#F04E23]': element.role_name_th == 'ผู้ขับขี่',
                                        'border-[#A259FF] text-[#A259FF]': element.role_name_th == 'ผู้ดูแลระบบ'}"
                                    class="border rounded-3xl text-center text-xl font-bold w-28 h-9 py-1">
                                    {{element.role_name_th}}
                                </div>
                            </div>
                        </td>
                    </ng-container>

                    <!-- Manage Column -->
                    <ng-container matColumnDef="manage">
                        <th mat-header-cell *matHeaderCellDef>
                            <div class="text-center">การจัดการ</div>
                        </th>
                        <td mat-cell *matCellDef="let element">
                            <div class="flex justify-center space-x-10">
                                <!-- <div (click)="deleteUser()">
                                    <button class="hover:drop-shadow">
                                        <mat-icon matPrefix style="width: 32px; height: 32px;"
                                            [svgIcon]="'heroicons_outline:trash'" class="text-[#E12424] "></mat-icon>
                                    </button>
                                </div> -->
                                <div class="" (click)="userDetail(element.encrypt_id)">
                                    <button class="hover:drop-shadow">
                                        <mat-icon matPrefix style="width: 32px !important; height: 32px !important;"
                                            [svgIcon]="'heroicons_outline:eye'" class="text-[#B5B5B5] "></mat-icon>
                                    </button>
                                </div>
                            </div>
                        </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="userColumn"></tr>
                    <tr mat-row *matRowDef="let row; columns: userColumn;"></tr>
                </table>
                <div *ngIf="isLoading" class="flex justify-center items-center py-10">
                    <mat-spinner [color]="'warn'"></mat-spinner>
                </div>
                <div *ngIf="userList.length == 0 && !isLoading"
                    class="py-10 text-xl font-bold text-center text-gray-400">
                    ไม่พบข้อมูล
                </div>
            </div>
        </div>
    </div>
</div>