<nav class="flex items-center justify-between bg-[#151925] py-5 px-24 shadow-sm shadow-black">
    <div>
        <span class="text-2xl text-white font-extrabold hover:text-[#01EEFF] cursor-pointer"
            routerLink="/">Portfolio</span>
    </div>
    <div>
        <ul class="flex space-x-10 text-xl font-medium">
            <li>
                <a routerLink="/" class="text-white hover:text-[#01EEFF]">Home</a>
            </li>
            <li>
                <a routerLink="/about" class="text-white hover:text-[#01EEFF]">About</a>
            </li>
            <li>
                <a routerLink="/about" class="text-white hover:text-[#01EEFF]">Experience</a>
            </li>
            <li>
                <a routerLink="/about" class="text-white hover:text-[#01EEFF]">Experience</a>
            </li>
            <li>
                <a routerLink="/about" class="text-white hover:text-[#01EEFF]">Projects</a>
            </li>
            <li>
                <a routerLink="/about" class="text-white hover:text-[#01EEFF]">Skills</a>
            </li>
        </ul>
    </div>
</nav>