<style scoped>
    .mat-mdc-menu-content {
        background-color: #151925 !important;
        padding: 0 !important;
    }

    .mat-mdc-menu-item {
        color: white !important;
    }

    .noto-san {
        font-family: "Noto Sans Thai" !important;
    }
</style>
<nav class="flex items-center justify-between bg-[#151925] py-5 md:px-24 sm:px-10 shadow-sm shadow-black font-bold">
    <div>
        <span class="sm:text-left text-2xl text-white font-extrabold hover:text-[#01EEFF] cursor-pointer"
            (click)="scrollTo('#home')">Portfolio</span>
    </div>
    <div class="sm:hidden md:block">
        <ul class="flex space-x-10 text-xl font-medium">
            <li>
                <a (click)="scrollTo('#home')" class="text-white hover:text-[#01EEFF] cursor-pointer">Home</a>
            </li>
            <li>
                <a (click)="scrollTo('#about')" class="text-white hover:text-[#01EEFF] cursor-pointer">About</a>
            </li>
            <li>
                <a (click)="scrollTo('#exp')" class="text-white hover:text-[#01EEFF] cursor-pointer">Experience</a>
            </li>
            <li>
                <a (click)="scrollTo('#proj')" class="text-white hover:text-[#01EEFF] cursor-pointer">Projects</a>
            </li>
            <li>
                <a (click)="scrollTo('#skills')" class="text-white hover:text-[#01EEFF] cursor-pointer">Skills</a>
            </li>
        </ul>
    </div>
    <div class="sm:block md:hidden">
        <button [matMenuTriggerFor]="option" class="mt-1    hover:drop-shadow 
                cursor-pointer  ">
            <mat-icon matPrefix style="width: 32px; height: 32px;" [svgIcon]="'general_icons:menu-icon'"></mat-icon>
        </button>
        <mat-menu #option="matMenu" xPosition="after">
            <button (click)="scrollTo('#home')" mat-menu-item class="active:bg-white">
                <span class="text-sm noto-san active:text-[#01EEFF]">Home</span>
            </button>
            <button (click)="scrollTo('#about')" mat-menu-item class="">
                <span class="text-sm noto-san active:text-[#01EEFF]">About</span>
            </button>
            <button (click)="scrollTo('#exp')" mat-menu-item class="">
                <span class="text-sm noto-san active:text-[#01EEFF]">Experience</span>
            </button>
            <button (click)="scrollTo('#proj')" mat-menu-item class="">
                <span class="text-sm noto-san active:text-[#01EEFF]">Projects</span>
            </button>
            <button (click)="scrollTo('#skills')" mat-menu-item class="">
                <span class="text-sm noto-san active:text-[#01EEFF]">Skills</span>
            </button>
        </mat-menu>
    </div>
</nav>