<nav class="flex items-center justify-between bg-[#151925] py-5 px-24 shadow-sm shadow-black">
    <div>
        <span class="text-2xl text-white font-extrabold hover:text-[#01EEFF] cursor-pointer"
            (click)="scrollTo('#home')">Portfolio</span>
    </div>
    <div>
        <ul class="flex space-x-10 text-xl font-medium">
            <li>
                <a (click)="scrollTo('#home')" class="text-white hover:text-[#01EEFF] cursor-pointer">Home</a>
            </li>
            <li>
                <a (click)="scrollTo('#about')" class="text-white hover:text-[#01EEFF] cursor-pointer">About</a>
            </li>
            <li>
                <a (click)="scrollTo('#exp')" class="text-white hover:text-[#01EEFF] cursor-pointer">Experience</a>
            </li>
            <li>
                <a (click)="scrollTo('#proj')" class="text-white hover:text-[#01EEFF] cursor-pointer">Projects</a>
            </li>
            <li>
                <a (click)="scrollTo('#skills')" class="text-white hover:text-[#01EEFF] cursor-pointer">Skills</a>
            </li>
        </ul>
    </div>
</nav>