<div class="mx-auto shadow-xl rounded-md min-h-screen" style="max-width:550px;">
  <!-- div ของ title chat -->
  <div class="mt-3 border-t border-b">
    <div class="mx-4 my-0.5">
      <div class=" flex items-center space-x-2">
        <div class="flex-shrink-0">
          <mat-icon style="width: 32px; height: 36px;" [svgIcon]="'general_icons:chat'"></mat-icon>
        </div>
        <div class="flex-1 min-w-0">
          <p class="text-xs font-bold text-[#272727] truncate ">
            <!-- {{social.firstname}}&nbsp;{{social.lastname}} -->
            แชท
          </p>
          <p class="text-xs font-normal text-[#272727] truncate ">
            สมาชิก - คน
          </p>

        </div>
        <div>
          <mat-icon style="width: 4px; height: 16px;" class="mr-4" [svgIcon]="'general_icons:menu'"></mat-icon>
        </div>
      </div>
    </div>

  </div>

  <!-- chats -->
  <div class="mx-4 mt-4">
    <div class="max-w-md mx-auto bg-white  overflow-hidden">
      <!-- Chat messages container -->
      <div class="chat-container  overflow-y-auto">
        <!-- ... Chat messages - lists ... -->
        <!-- #1 -->
        <div class=" flex items-center space-x-2 mb-3">
          <div class="flex-shrink-0">
            <mat-icon style="width: 32px; height: 36px;" [svgIcon]="'general_icons:profile-img'"></mat-icon>
          </div>
          <div class="flex-1 ">
            <p class="text-xs font-normal text-[#272727] truncate bg-[#EFEFEF] rounded-lg p-2">
              <!-- {{social.firstname}}&nbsp;{{social.lastname}} -->
              แชท1
            </p>
          </div>
          <div class="flex-1 mt-5">
            <p class="text-xs font-normal text-[#272727] truncate ">
              <!-- {{social.firstname}}&nbsp;{{social.lastname}} -->
              4.30 PM
            </p>
          </div>
        </div>
        <!-- #2 -->
        <div class=" flex items-center space-x-2">
          <div class="flex-shrink-0">
            <mat-icon style="width: 32px; height: 36px;" [svgIcon]="'general_icons:profile-img'"></mat-icon>
          </div>
          <div class="flex-1 ">
            <p class="text-xs font-normal text-[#272727] truncate bg-[#EFEFEF] rounded-lg p-2">
              <!-- {{social.firstname}}&nbsp;{{social.lastname}} -->
              แชท2
            </p>
          </div>
          <div class="flex-1 mt-5">
            <p class="text-xs font-normal text-[#272727] truncate ">
              <!-- {{social.firstname}}&nbsp;{{social.lastname}} -->
              4.32 PM
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Input field and send button -->
  <div class="border-t border-b fixed bg-white bottom-24">
    <div class="flex items-center py-2 space-x-3 mx-4">
      <div>
        <button onclick="sendMessage()" class=" bg-[#F04E23] text-white rounded-xl w-10 h-10  focus:outline-none">
          <mat-icon class="mt-1" style="width: 24px; height: 24px;"
            [svgIcon]="'general_icons:location_chat'"></mat-icon>
        </button>
      </div>
      <div>
        <button onclick="sendMessage()" class=" bg-[#F04E23] text-white rounded-xl w-10 h-10  focus:outline-none">
          <mat-icon class="mt-1" style="width: 24px; height: 24px;" [svgIcon]="'general_icons:camera'"></mat-icon>
        </button>
      </div>
      <div>
        <input type="text" id="messageInput" placeholder="ข้อความ"
          class="flex-1 border border-gray-300 rounded-lg py-2 px-4 focus:outline-none text-xs font-normal">
      </div>
      <div>
        <button onclick="sendMessage()" class=" bg-[#F04E23] text-white rounded-xl w-10 h-10  focus:outline-none">
          <mat-icon class="mt-1" style="width: 24px; height: 24px;" [svgIcon]="'general_icons:send'"></mat-icon>
        </button>
      </div>
    </div>
  </div>


  <!-- <div *ngFor="let message of messages" class="message" [ngStyle]="getMessageStyles(message.content)">
    <strong>{{ message.sender }}:</strong> {{ message.content }}
  </div> -->
</div>