<div class="mx-auto shadow-xl" style="max-width:550px;">
    <div class="m-4 ">
        <div class="text-2xl text-center font-bold text-[#272727]">ข้อตกลงการใช้งาน</div>
        <!-- consent-card -->
        <div class="pt-5">
            <div class="border rounded-md border-[#B5B5B5] px-2 py-2">
                <p class="text-xl font-bold pb-2 text-[#272727]">นโยบายความเป็นส่วนตัว</p>
                <p class="text-sm text-[#5B5B5B] break-keep">
                    • ระบบเก็บข้อมูลส่วนตัวเช่น ชื่อจริง นามสกุล อีเมล เบอร์โทรศัพท์ เพื่อใช้เป็นข้อมูลประกอบการตัดสินใจร่วมการเดินทางของผู้ใช้งาน <br>
                    • ผู้พัฒนา (ผู้ควบคุมข้อมูล) ต้องยืนยันตัวตนในการเข้าถึงฐานข้อมูล เพื่อตรวจสอบ แก้ไข และลบข้อมูลบัญชีผู้ใช้งาน <br>
                    • ข้อมูลทั้งหมดของผู้ใช้จะไม่ถูกนำไปเผยแพร่บนช่องทางอื่นที่นอกเหนือจากเว็บไซต์ MOD RIDE - Ride Sharing in KMUTT <br>
                </p>
                <p class="text-xl font-bold py-2 text-[#272727]">ข้อกำหนดและเงื่อนไข</p>
                <p class="text-sm text-[#5B5B5B] break-keep">
                    • เว็บไซต์นี้ถูกพัฒนาอยู่ในขอบเขตของการเรียนรู้ภายใต้วิชา INT372 Capstone Project 2 <br>
                    • ทางผู้พัฒนาไม่มีจุดประสงค์พัฒนาระบบเพื่อเป็นผู้ประกอบการหรือการหารายได้แต่อย่างใด  เพียงแต่เพื่อให้ได้ระบบที่มีการทำงานที่สมบูรณ์และสามารถอำนวยความสะดวกสำหรับการร่วมเดินทางของคนในมจธ. ซึ่งเป็นหนึ่งในจุดประสงค์หลักของการพัฒนาระบบ MOD RIDE - Ride Sharing in KMUTT <br>
                    • ผู้พัฒนาขอปฎิเสธความรับผิดชอบต่อความสูญเสียหรือความเสียหาย ในลักษณะ ใด ๆ ที่เกิดขึ้น จึงเรียนมาให้ทราบ ณ ที่นี้
                </p>
            </div>
        </div>
        <!-- button -->
        <div class="pt-10 pb-9">
            <!-- component -->
            <button [routerLink]="'/sign-in'"
                class="h-12 w-full rounded-2xl bg-[#F04E23] text-base font-bold text-white">
                ย้อนกลับ
            </button>
        </div>
    </div>

</div>