<div class="mx-auto  my-5 flex flex-col shadow-xl rounded-md min-h-screen" style="max-width:550px;">
  <div class="mx-4">
    <div class="flex flex-col items-center py-3">
      <!-- <div class="mx-auto shadow-xl rounded-md" style="max-width:400px;">
<div class="mx-4">
  <div class="flex flex-row justify-center py-3"> -->
      <div class="">
        <span class="text-2xl font-bold text-black">สร้างโพสต์การเดินทาง</span>
      </div>
    </div>
    <div class="mx-2">
      <detail [detail]="eventDetail" [type]="'create'" [vehicleList]="vehicle"></detail>
    </div>
  </div>
</div>